<p> Welcome to the site {{field}}!</p>

{{!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rust Blog</title>
  </head>
  <body>
    <div class="wrapper min-h-screen w-full bg-slate-600 pb-10">
      <header class="flex w-full items-center justify-between gap-4 bg-slate-800 px-4 py-4">
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Login</a>
        <h1 class="text-4xl font-thin text-white">Rust Blog</h1>
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Register</a>
      </header>

      <div class="content mx-auto mt-4 max-w-xs rounded-lg bg-slate-700 px-4 pb-5 pt-5 text-white">
        <h2 class="mb-3 text-3xl font-thin">Register</h2>
        <form action="" class="flex flex-col">
          <label>Name: </label>
          <input type="text" placeholder="Name" class="text-black" />
          <label>Email: </label>
          <input type="text" placeholder="Email" class="text-black" />
          <label>Password:</label>
          <input type="password" name="" id="" placeholder="Password" class="text-black" />
          <label>Password again:</label>
          <input type="password" name="" id="" placeholder="Password again" class="text-black" />
          <input type="submit" value="Register" class="mt-2 w-28 rounded-md bg-white py-1 text-black" />
        </form>
        <p class="mt-5">Have an accound yet?</p>
        <a href="#" class="flex py-1 w-28 items-center justify-center rounded-md bg-white text-center text-black">Login</a>
      </div>
    </div>
  </body>
  <!-- <body>
    <div class="wrapper min-h-screen w-full bg-slate-600 pb-10">
      <header class="flex w-full items-center justify-between gap-4 bg-slate-800 px-4 py-4">
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Login</a>
        <h1 class="text-4xl font-thin text-white">Rust Blog</h1>
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Register</a>
      </header>

      <div class="content mx-auto mt-4 max-w-xs rounded-lg bg-slate-700 px-4 pb-5 pt-5 text-white">
        <h2 class="mb-3 text-3xl font-thin">Login</h2>
        <form action="" class="flex flex-col">
          <label>Name: </label>
          <input type="text" placeholder="Name" class="text-black" />
          <label>Password:</label>
          <input type="password" name="" id="" placeholder="Password" class="text-black" />
          <input type="submit" value="Login" class="mt-2 w-28 rounded-md bg-white py-1 text-black" />
        </form>
        <p class="mt-5">Do not have accound yet?</p>
        <a href="#" class="flex py-1 w-28 items-center justify-center rounded-md bg-white text-center text-black">Register</a>
      </div>
    </div>
  </body> -->
  <!-- <body>
    <div class="wrapper min-h-screen w-full bg-slate-600 pb-10">
      <header class="flex w-full items-center justify-between gap-4 bg-slate-800 px-4 py-4">
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Login</a>
        <h1 class="text-4xl font-thin text-white">Rust Blog</h1>
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Register</a>
      </header>

      <div class="content mx-auto max-w-xl pt-5 text-white px-4">
        <h2 class="mb-3 text-3xl font-thin">Add blog post</h2>
        <form action="" class="flex flex-col">
          <label>Title: </label>
          <input type="text" placeholder="Title" class="text-black" />
          <label>Image:</label>
          <input type="file" name="" id="" accept=".png,.jpg,.jpeg,.gif" />
          <label>Content: </label>
          <textarea name="content" id="" cols="30" rows="10" placeholder="Content" class="text-black"></textarea>
          <input type="submit" value="Publish" class="mt-2 w-28 rounded-md bg-white py-1 text-black" />
        </form>
      </div>
    </div>
  </body> -->
  <!-- <body>
    <div class="wrapper min-h-screen w-full bg-slate-600 pb-10">
      <header class="flex w-full items-center justify-between gap-4 bg-slate-800 px-4 py-4">
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Login</a>
        <h1 class="text-4xl font-thin text-white">Rust Blog</h1>
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Register</a>
      </header>

      <div class="content mx-auto max-w-xl pt-5 text-white px-4">
        <h2 class="mb-4 text-4xl font-thin">Test Post</h2>
        <img class="mx-auto mb-2 rounded-md" src="https://picsum.photos/400/300" alt="" srcset="" />
        <p class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus perferendis at praesentium ipsam expedita nemo temporibus deleniti? Nam enim ex ut illum voluptas voluptatem, unde cum totam quae optio soluta!</p>
        <p class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus perferendis at praesentium ipsam expedita nemo temporibus deleniti? Nam enim ex ut illum voluptas voluptatem, unde cum totam quae optio soluta!</p>
        <p class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus perferendis at praesentium ipsam expedita nemo temporibus deleniti? Nam enim ex ut illum voluptas voluptatem, unde cum totam quae optio soluta!</p>
        <p class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus perferendis at praesentium ipsam expedita nemo temporibus deleniti? Nam enim ex ut illum voluptas voluptatem, unde cum totam quae optio soluta!</p>
        <p class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus perferendis at praesentium ipsam expedita nemo temporibus deleniti? Nam enim ex ut illum voluptas voluptatem, unde cum totam quae optio soluta!</p>

        <p>Author: testUser</p>
      </div>
    </div>
  </body> -->
  <!-- <body>
    <div class="wrapper min-h-screen w-full bg-slate-600">
      <header class="flex w-full items-center justify-between gap-4 bg-slate-800 px-4 py-4">
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Login</a>
        <h1 class="text-4xl font-thin text-white">Rust Blog</h1>
        <a href="#" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Register</a>
      </header>

      <div class="content mx-auto mt-8 flex max-w-lg flex-col gap-4 px-4">
        <div class="post-preview rounded-lg bg-slate-700 p-4 text-white">
          <h2 class="mb-3 text-3xl">Test Post</h2>
          <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sunt laudantium quae doloremque enim itaque sequi saepe repudiandae possimus quos maxime impedit, reiciendis aut, veniam fuga minima provident culpa eos...</p>
          <a href="#" class="rounded-md bg-white px-4 py-2 text-black">Read more</a>
        </div>

        <div class="post-preview rounded-lg bg-slate-700 p-4 text-white">
          <h2 class="mb-3 text-3xl">Test Post</h2>
          <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sunt laudantium quae doloremque enim itaque sequi saepe repudiandae possimus quos maxime impedit, reiciendis aut, veniam fuga minima provident culpa eos...</p>
          <a href="#" class="rounded-md bg-white px-4 py-2 text-black">Read more</a>
        </div>
        <div class="post-preview rounded-lg bg-slate-700 p-4 text-white">
          <h2 class="mb-3 text-3xl">Test Post</h2>
          <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sunt laudantium quae doloremque enim itaque sequi saepe repudiandae possimus quos maxime impedit, reiciendis aut, veniam fuga minima provident culpa eos...</p>
          <a href="#" class="rounded-md bg-white px-4 py-2 text-black">Read more</a>
        </div>
      </div>
    </div>
  </body> -->
</html> --}}
