<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock title %} - Rust Blog</title>
</head>
<body>
    <div class="wrapper min-h-screen w-full bg-slate-600 pb-10">
        <header class="flex w-full items-center justify-between gap-4 bg-slate-800 px-4 py-4">
          <a href="/login" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Login</a>
          <h1 class="text-4xl font-thin text-white"><a href="/">Rust Blog</a></h1>
          <a href="/register" class="flex h-8 w-24 items-center justify-center rounded-md bg-white text-center">Register</a>
        </header>
    {% block content %}{% endblock content %}
    </div>
</body>
</html>